body {
	font-size:medium;
	-webkit-text-size-adjust:100%;
}
div#all {
	margin:0px;
}
div#footer {
	padding:0px 3px;
}
div.infobox {
	margin:8px;
}
div.infobox div.date {
	background: -webkit-gradient(linear, left top, right bottom, from(#F0CD96),color-stop(0.7, #F0CD96),to(#FFFACD));
	padding:2px 4px;
	width:70%;
}
div.infobox p {
	margin:0px 4px;
	padding:0px;
}
h1 {
	border:solid 3px #E60;
	border-left:solid 12px #E60;
	font-size:x-large;
	padding:1px 8px;
}
h2 {
	font-size:large;
	padding:0px 8px;
}
li {
	margin-top:3px;
	margin-bottom:3px;
}
p {
	font-size:medium;
	padding:5px;
	line-height:1.75em;
}
table {
	margin:5px auto 5px auto;
	width:95%;
}
table td,th {
	padding:2px;
}
table th {
	font-size:large;
}
table tr.small {
	font-size:x-small;
}
table#bmskill {
	width:100%;
}
table#bmskill td {
	font-size:small;
}
table#status {
	width:100%;
}
table#status td {
	font-size:small;
}
textarea#comment {
	width:90%;
}
@media screen and (max-height: 800px) {
	textarea {
		height:10em;
	}
}
@media screen and (min-height: 800px) {
	textarea {
		height:20em;
	}
}
ul#dblink li {
	background: -webkit-gradient(linear, left top, right bottom, from(#FFFACD),color-stop(0.7, #FFFACD),to(#F0CD96));
	font-size:large;
	margin:5px;
	padding:3px 12px;
}
ul.linklist {
	list-style-type:square;
}
ul#footlink li {
	margin-right:5px;
}
ul#threadlist {
	list-style:none;
	margin:10px;
	padding:0px;
}
@media screen and (max-width: 440px) {
	img.map {
		zoom:1;
	}
}
@media screen and (min-width: 440px) {
	img.map {
		zoom:2;
	}
}
img.dot {
	zoom:2;
}
img.dot,img.map {
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+ */
	image-rendering:-webkit-optimize-contrast; /* Safari (WebKit) */
	image-rendering:-moz-crisp-edges;          /* Firefox (Gecko) */
	image-rendering:-o-crisp-edges;            /* Opera 12.x */
	image-rendering:pixelated;                 /* Chrome 41+, Opera 29+ (CSS4) */
}
