body {
	font-size:medium;
	-webkit-text-size-adjust:100%;
}
div#all {
	margin:0px;
}
div#footer {
	padding:0px 3px;
}
div#infobox {
	margin:8px;
}
div#infobox div#date {
	background: -webkit-gradient(linear, left top, right bottom, from(#F0CD96),color-stop(0.7, #F0CD96),to(#FFFACD));
	padding:2px 4px;
	width:70%;
}
div#infobox p {
	margin:0px 4px;
	padding:0px;
}
h1 {
	border:solid 3px #E60;
	border-left:solid 12px #E60;
	font-size:x-large;
	padding:1px 8px;
}
h2 {
	font-size:large;
	padding:0px 8px;
}
p {
	font-size:medium;
	padding:5px;
}
table {
	margin:5px auto 5px auto;
	width:90%;
}
table td,th {
	padding:2px;
}
table th {
	font-size:large;
}
table tr.small {
	font-size:x-small;
}
table#bmskill {
	width:100%;
}
table#bmskill td {
	font-size:small;
}
table#status {
	width:100%;
}
table#status td {
	font-size:small;
}
ul#dblink li {
	background: -webkit-gradient(linear, left top, right bottom, from(#FFFACD),color-stop(0.7, #FFFACD),to(#F0CD96));
	font-size:large;
	margin:5px;
	padding:3px 12px;
}
ul#linklist {
	line-height:2.0em;
	list-style-type:square;
}

